<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>aieggy编程</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="blockly/PCblockly_compressed.js?version=20180417"></script>
    <script src="blockly/javascript_compressed.js"></script>
    <script src="blockly/zh-hans.js"></script>
    <script src="js/blocks.js?version=20180417"></script>
    <script src="js/javascript.js?version=20180417"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="ace/theme-tomorrow_night_eighties.js" type="text/javascript" charset="utf-8"></script>
    <script src="ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/normal.css"/>
    <link rel="stylesheet" href="./css/edu.css"/>
    <link rel="stylesheet" href="./css/path.css"/>
    <link rel="stylesheet" href="./css/code.css"/>
</head>

<body>
    <header id="header">
        <div class="topLogo">
            <div class="logo">
                <img style="height: 100%" src="img/logo.png" alt="蛋玩科技" title="武汉蛋玩科技有限公司"/>
            </div>
            <div class="signIn">
                <ul class="notLogin">
                    <li v-for="item in sign"><span v-bind:class="item.attr" v-on:click="signIn(item.attr)">{{ item.name }}</span></li>
                </ul>
            </div>
        </div>
    </header>
    <section id="section">
        <nav id="nav">
            <ul class="mainNav">
                <li v-for="(tab, index) in tabs" v-bind:class="{mainList: true, active: active===index}" v-on:click="toggle(index, tab.view)">{{ tab.name }}</li>
            </ul>
            <ul class="fnNav">
                <li v-for="item in fnNav" v-bind:class="{fnList: true, able: item.able}" v-on:click="tag(item.attr)"><span>{{ item.name }}</span></li>
            </ul>
        </nav>
        <div id="mainContent">
            <div class="contentWrap blocklyCode" style="display: block">
                <div id="blocklyDiv"></div>
                <xml id="toolbox" style="display: none">
                    <category name="控制 Control" colour="#008c97">
                        <block type="blockly_pause"></block>
                        <block type="blockly_loop"></block>
                        <block type="blockly_controls_for"></block>
                        <block type="blockly_if"></block>
                        <block type="blockly_ifelse"></block>
                    </category>
                    <category name="运动 Movement" colour="#f5821f">
                        <block type="blockly_front"></block>
                        <block type="blockly_back"></block>
                        <block type="blockly_left"></block>
                        <block type="blockly_right"></block>
                        <block type="blockly_keepwalking_front"></block>
                        <block type="blockly_keepwalking_back"></block>
                        <block type="blockly_rotate"></block>
                        <block type="blockly_turnleft"></block>
                        <block type="blockly_turnright"></block>
                        <block type="blockly_differential"></block>
                        <block type="blockly_differential_control"></block>
                    </category>
                    <category name="灯光 Light Effect" colour="#fec002">
                        <block type="blockly_earcolor"></block>
                        <block type="blockly_eyeswitch"></block>
                        <block type="blockly_customizecolor"></block>
                        <block type="blockly_closelight"></block>
                    </category>
                    <category name="声音 Sound" colour="#d80381">
                        <block type="blockly_animal"></block>
                        <block type="blockly_speak"></block>
                        <block type="blockly_note"></block>
                        <block type="blockly_play"></block>
                        <block type="blockly_secret"></block>
                    </category>
                    <category name="数学 Math" colour="#01bee6">
                        <block type="blockly_math_plus"></block>
                        <block type="blockly_math_sub"></block>
                        <block type="blockly_math_mul"></block>
                        <block type="blockly_math_div"></block>
                        <block type="blockly_isoddevenprime"></block>
                        <block type="blockly_logic_or"></block>
                        <block type="blockly_logic_and"></block>
                        <block type="blockly_number"></block>
                    </category>
                    <category name="模式 Sensor" colour="#01c1b6">
                        <block type="blockly_tracking"></block>
                        <block type="blockly_obsessive"></block>
                        <block type="blockly_follow"></block>
                        <block type="blockly_trackingdir"></block>
                        <block type="blockly_btmsensor"></block>
                        <block type="blockly_eyesensor"></block>
                    </category>
                </xml>
            </div>
            <div class="contentWrap pathCode" style="display: block">
                <canvas id="canvasBg"></canvas>
                <canvas id="Connections"></canvas>
                <canvas id="drawLine"></canvas>
                <canvas id="sendAnimation"></canvas>
                <div class="BtnWrap">
                  <ul>
                    <li class="Btnlist"><button id="add" class="btngroup" data-attr = "add"></button></li>
                    <li class="Btnlist"><button id="sub" class="btngroup" data-attr = "sub"></button></li>
                    <li class="Btnlist"><button id="repeal" class="btngroup" data-attr = "repeal"></button></li>
                    <li class="Btnlist"><button id="btn" class="btngroup" data-attr = "start"></button></li>
                  </ul>
                </div>
            </div>
            <div class="contentWrap codeCode" style="display: block">
                <div class="wrap">
                    <div id="editor"></div>
                </div>
            </div>
            <div id="rightSidebar">
                <ul class="sidebarBtnGroup">
                    <li v-for="(item, index) in sidebars" v-if="item.able" v-bind:class="{ active: indexof === index }" v-on:click="toggle(item.attr, index)"><span class="sidebarMove">{{ item.name }}</span></li>
                </ul>
                <div class="sidebarContent">
                    <robot-modal v-if="robotModalStatus" v-bind:post="robotData"></robot-modal>
                    <code-modal v-if="codeModalStatus" v-bind:post="codeData"></code-modal>
                </div>
            </div>
        </div>
    </section>
    <div class="ModalBox">
        <login-modal v-if="loginModalStatus" v-bind:post="login"></login-modal>
        <register-modal v-if="registerModalStatus" v-bind:post="register"></register-modal>
        <stuinfo-modal v-if="stuInfoStatus" v-bind:post="stuInfo"></stuinfo-modal>
        <example-modal v-if="exampleStatus" v-bind:post="example"></example-modal>
        <addmac-modal v-if="addmacStatus"></addmac-modal>
    </div>
    <div class="mask"></div>
    <script type="text/javascript">
        $('#section').css({ 'height': $('body').height() - $('#header').height() + 'px' });
        $('#mainContent').css({ 'height': $('#section').height() - $('#nav').height() + 'px', 'top': $('#nav').height() + 'px' });
        window.onload = function () {
            $('.pathCode').css({ 'display': 'none' });
            $('.codeCode').css({ 'display': 'none' });
        }
    </script>
    <script src="js/ajax.js"></script>
    <script src="js/component.js"></script>
    <script src="js/edu.js"></script>
    <script src="js/Blocklyindex.js"></script>
    <script src="js/code.js"></script>
    <script src="js/path.js"></script>
</body>
</html>