/* header */
#header {
  width: 100%;
  height: 50px;
}

.topLogo {
  width: 100%;
  height: 50px;
  background: rgb(255, 222, 0);
}

.logo {
  display: inline-block;
  width: auto;
  height: 30px;
  margin: 10px 10px 10px 50px;
}

.signIn {
  float: right;
  width: 250px;
  height: 40px;
  margin: 5px 50px 5px 10px;
  text-align: center;
  line-height: 40px;
}

.notLogin {
  float: right;
}

.notLogin li {
  display: inline-block;
  margin: 0 15px;
}

.notLogin li span {
  font-size: 13px;
  padding: 6px 15px;
  border-radius: 7px;
  cursor: pointer;
  background: #fff;
}

.notLogin li span:hover {
  background: rgb(241, 241, 241);
}

.userAvatar {
  background: url(../img/logo0.jpg) no-repeat !important;
  background-size: 100% 100% !important; 
}

#nav {
  position: absolute;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background: rgb(198, 198, 198);
}

.mainNav {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.mainList {
  display: inline-block;
  font-size: 14px;
  padding: 5px 25px;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
}

.mainList:hover {
  background: rgb(255, 222, 0);
}

.active {
  background: rgb(255, 222, 0) !important;
}

.fnNav {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.fnList {
  display: inline-block;
  color: rgb(221, 221, 221);
}

.fnList span {
  font-size: 14px;
  font-weight: bolder;
  padding: 20px 20px;
}

.able {
  color: #fff;
  cursor: pointer;
}

/* header end */

/* section */
#section {
  position: relative;
  width: 100%;
  background: #ffffff;
  z-index: 90;
}

#mainContent {
  position: absolute;
  width: 100%;
}

.ModalBox .noticeBox {
  position: fixed;
  top: 30%;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 500;
}

.ModalBox .confirmBox {
  position: fixed;
  width: 320px;
  height: 140px;
  top: 30%;
  font-size: 14px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

#rightSidebar {
  position: absolute;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  background: #fff;
  z-index: 100;
}

.sidebarBtnGroup {
  display: flex;
  display: -webkit-flex;
  position: absolute;
  top: 10px;
  left: -50px;
  width: 40px;
  height: auto;
  flex-direction: column;
}

.sidebarBtnGroup li {
  flex: 1;
  width: 40px;
  height: 150px;
  margin: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
}

.sidebarBtnGroup li span {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  letter-spacing: 5px;
  text-align: center;
  writing-mode: vertical-lr;
  line-height: 40px;
}

.sidebarBtnGroup li:hover {
  background: rgb(255, 222, 0);
}

.sidebarContent {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#blockly {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#blocklyDiv {
  width: 100%;
  height: 100%;
}

.contentWrap {
  width: 100%;
  height: 100%;
}

.pathCode {
  background: rgba(0, 0, 0, 0.8);
}

/* section end */

/* ModalBox */
.ModalBox {
  position: absolute;
  width: auto;
  height: auto;
  top: 180px;
  z-index: 210;
}

.login {
  position: absolute;
  width: 500px;
  height: auto;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
}

.login .cartoon {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.login .enterWrap {
  width: 320px;
  height: auto;
  margin: 20px auto;
}

.modalhead {
  width: 100%;
  height: 60px;
  font-size: 15px;
  text-align: center;
  line-height: 60px;
  color: #000000;
  background: #e3e3e8;
}

.login .close {
  display: inline-block;
  position: absolute;
  font-size: 25px;
  line-height: 60px;
  right: 20px;
  cursor: pointer;
  color: #696969;
}

.login .inputList {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-top: 25px;
}

.login .faIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  color: #d0d0d0;
  border: 2px solid #d0d0d0;
  border-radius: 10px;
  box-sizing: border-box;
}

.login .errInfo {
  display: inline-block;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 12px;
  color: red;
}

.login input {
  display: inline-block;
  width: 260px;
  height: 40px;
  float: right;
  box-sizing: border-box;
  border: 2px solid #d0d0d0;
  border-radius: 8px;
  padding: 0 10px;
  color: #555;
  font-size: 14px;
}

.login .loginBtn {
  width: 320px;
  height: 40px;
  margin: 15px auto 0;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
  overflow: hidden;
}

.login button {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 19px;
  background: rgb(255, 222, 0);
  cursor: pointer;
}

.login .bottomBtn {
  width: 320px;
  height: auto;
  font-size: 13px;
  margin: 10px auto 0;
}

.bottomBtn .botToRegister, .botToLogin {
  float: left;
  cursor: pointer;
}

.bottomBtn .botTofind {
  float: right;
  cursor: pointer;
}

.loginWrap::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 90px;
  margin-top: 50px;
  background: url(../img/botPic.png) no-repeat;
  background-size: 100% 100%;
}

.registerWrap::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 90px;
  margin-top: 50px;
  background: url(../img/botPic.png) no-repeat;
  background-size: 100% 100%;
}

.registerWrap .propertyWrap {
  width: 100%;
  height: auto;
  margin-top: 25px;
  font-size: 14px;
  display: flex;
  display: -webkit-flex;
  align-content: space-around;
  justify-content: space-around;
}

.registerWrap .prolist {
  flex: 1;
  padding: 8px;
  text-align: center;
  box-sizing: border-box;
  background: #e6e6e6;
  cursor: pointer;
}

.registerWrap .prolist:hover {
  background: rgb(255, 222, 0);
}

.registerWrap .curPro {
  background: rgb(255, 222, 0);
}

.stuInfoWrap {
  width: 600px;
}

.stuInfoWrap .errInfo {
  margin-top: 20px;
}

.vmpart {
  position: relative;
  width: 540px;
  height: 200px;
  margin: 10px auto;
}

.vmpart .vm {
  position: absolute;
  width: 200px;
  height: 200px;
  text-align: center;
}

.vmpart .vm .vmPic {
  display: inline-block;
  width: 80%;
  height: auto;
}

.vmpart .vm .title {
  display: inline-block;
  width: 200px;
  height: auto;
  max-width: 200px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.vmpart .userenter {
  position: absolute;
  width: 320px;
  height: 200px;
  right: 0;
}

.userenter .username {
  width: 100%;
}

.userenter .sex {
  font-size: 15px;
  padding: 8px 35px;
  margin: 10px 20px;
  border: 2px solid rgb(255, 222, 0);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.userenter .birthday {
  display: flex;
  display: -webkit-flex;
  width: 80%;
  height: 30px;
  text-align: center;
  margin: 3px auto;
}

.userenter .btn {
  flex: 1;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 0 5px;
  border: 2px solid #d0d0d0;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.userenter .btn:hover {
  border-color: rgb(255, 222, 0);
}

.userenter .num {
  flex: 3;
  display: inline-block;
  width: 80px;
  height: 30px;
  font-size: 15px;
  border: 2px solid #d0d0d0;
  border-radius: 5px;
  box-sizing: border-box;
}

.userenter .grade {
  width: 100%;
  display: flex;
  display: -webkit-flex;
}

.userenter .grade .gradelist {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.userenter .grade .gradelist:hover {
  font-weight: 700;
  font-size: 20px;
  color:rgb(255, 222, 0);
}

.gradeactive {
  font-weight: 700;
  font-size: 20px;
  color:rgb(255, 222, 0);
}

.userenter .next {
  width: 320px;
  height: 40px;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  line-height: 40px;
  background: rgb(255, 222, 0);
  border-radius: 10px;
  cursor: pointer;
}

.userenter .disabled {
  background: rgb(184, 184, 184);
}

.userenter .info {
  width: 100%;
  height: auto;
  margin-top: 30px;
  text-align: center;
}

.example, .project {
  width: 1200px;
}

.example .exampleWrap, .project .projectWrap {
  display: flex;
  width: 100%;
  padding: 20px 40px;
  height: 450px;
  box-sizing: border-box;
  overflow: auto;
}

.example .current, .project .current {
  position: relative;
  flex: 1;
  border-radius: 10px;
  margin-left: 20px; 
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 3px #d8d8d8;
  cursor: pointer;
  overflow: hidden;
}

.example .current:hover::after {
  content: '点击观看示例';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 410px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.project .proBtnGp {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.project .proBtnWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project .proBtnList button {
  display: inline-block;
  font-size: 13px;
  width: 50%;
  padding: 8px 18%;
  border-radius: 5px;
  background: rgb(255, 222, 0);
}

.current .curImg {
  display: inline-block;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.current .curImg img {
  width: 100%;
  height: auto;
}

.current .curInfo {
  width: 90%;
  margin: 20px 0px 0 30px;
}

.current .curInfo .curtitle {
  font-size: 25px;
  color: rgb(0, 151, 167);
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.current .curInfo .know {
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}

.current .curInfo .konwPoint, .difftil {
  display: inline-block;
  font-weight: 700;
  margin-right: 25px;
  color: rgb(0, 151, 167);
}

.current .curInfo .saveTime {
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
  color: rgb(0, 151, 167);
}

.current .curInfo .curkonw, .current .curInfo i {
  font-weight: 700;
  color: rgb(255, 166, 0);
  margin: 0 3px;
}

.current .curInfo .curStory {
  width: 90%;
  height: auto;
  max-height: 100px;
  margin: 15px 0;
  color: rgb(255, 166, 0);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: justify;
  overflow: auto;
}

.current .curTime {
  color: rgb(255, 166, 0);
  font-size: 14px;
}

.current .curInfo .curStory::-webkit-scrollbar {
  display: none;
}

.example .exampleList, .project .projectList {
  flex: 2;
  margin-left: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: auto;
}

.example .exampleList::-webkit-scrollbar, .project .projectList::-webkit-scrollbar {
  display: none;
}

.example .exampleList .listWrap, .project .projectList .listWrap {
  width: 100%;
  height: auto;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

.listWrap .list {
  position: relative;
  width: 170px;
  height: 220px;
  margin: 18px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px #d8d8d8;
}

.listWrap .list:hover {
  transform: scale(1.1);
}

.listWrap .liImgWrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.listWrap .liImgWrap img {
  width: 100%;
  height: auto;
}

.listWrap .liname {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.robotWrap {
  width: 100%;
  height: auto;
}

.robotWrap .curRoCard {
  width: 100%;
  height: 160px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  background: url(../img/currobotBg.png) no-repeat;
  background-size: 100% auto; 
}

.robotWrap .curRoWrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.curRoImg {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 20px;
  line-height: 160px;
  width: 100px;
  height: auto;
}

.robotWrap .curRoInfoWrap {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100%;
  font-size: 12px;
  padding: 15px 0 0 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.robotWrap .curRoTi {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 5px;
  color: rgb(0, 151, 167);
  border-bottom: 2px solid rgb(0, 151, 167);
}

.robotWrap .curRoIfWrap {
  margin-top: 5px;
}

.robotWrap .curRoIfList {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.robotWrap .info {
  margin-right: 7px;
}

.robotWrap .listWrap {
  display: flex;
  display: -webkit-flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  text-justify: center;
}

.robotWrap .robotlist {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 110px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #eaeaea;
  overflow: hidden;
  cursor: pointer;
}

.robotWrap .robotlist:nth-child(1) {
  background: #ababab
}

.robotWrap .robotlist .imgWrap {
  position: absolute;
  width: 90px;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.robotWrap .listName {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: auto;
  font-size: 13px;
  text-align: center;
}

.robotWrap .robotlist:hover::after {
  content: '点我';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 13px;
  line-height: 85px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

.robotWrap .robotlist .imgWrap img {
  width: 100%;
  height: auto;
  transform: scale(0.8);
}

.robotWrap .addMac {
  display: inline-block;
  width: 90px;
  height: 115px;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #eaeaea;
  cursor: pointer;
  font-size: 40px;
  color: rgb(129, 129, 129);
  text-align: center;
  line-height: 115px;
}

.codeWrap {
  width: 100%;
  height: auto;
  font-size: 12px;
}

.codeWrap .codeNotice {
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 40px;
}

.codeWrap .codes {
  white-space: pre-wrap;
}

.login .addmacWrap {
  width: 100%;
  height: 80px;
  padding: 0 60px;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.login .saveWrap {
  width: 100%;
  height: auto;
}

.addmacWrap .macIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #666;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
}

.addmacWrap .macInput {
  display: inline-block;
  width: 230px;
  margin-left: 10px;
}

.login .saveWrap .saveInput {
  text-align: center;
}

.addmacModal .boundBtn, .saveModal .saveBtn {
  width: 60%;
  height: 40px;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 40px;
  font-size: 17px;
  background: rgb(255, 222, 0);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.blocklyBtn {
  position: absolute;
  bottom: 25px;
  right: 100px;
  font-size: 60px;
  width: auto;
  height: auto;
  cursor: pointer;
  z-index: 200;
}

.saveModal {
  width: 650px;
  height: auto;
}

.saveModal .saveWrap {
  overflow: hidden;
}

.saveModal .saveWrap .left {
  float: left;
  left: 0;
  width: 60%;
  height: auto;
  padding: 30px 15px 15px 30px;
  box-sizing: border-box;
  overflow: hidden;
}

.saveModal .saveWrap .right {
  float: right;
  right: 0;
  width: 40%;
  height: auto;
  padding: 30px 15px 15px 30px;
  box-sizing: border-box;
  overflow: hidden;
}

.saveModal .inputWrap {
  width: 100%;
  height: auto; 
}

.saveModal .nameWrap {
  width: 100%;
  height: 30px;
  font-size: 15px;
}

.saveModal .name {
  line-height: 30px;
}

.saveModal .nameWrap input {
  display: inline-block;
  width: 260px;
  height: 30px;
  font-size: 13px;
}

.saveModal .introWrap {
  width: 100%;
  height: auto;
  margin-top: 40px;
  font-size: 15px;
  overflow: hidden;
}

.saveModal textarea {
  width: 260px;
  height: 100px;
  float: right;
  border: 2px solid #d0d0d0;
  border-radius: 8px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 13px;
  color: #444;
}

.saveModal .imgWrap {
  text-align: center;
  width: 100%;
  height: auto;
}

.saveModal .img {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

/* ModalBox end */


/* @media screen and (max-width: 1400px) */

@media screen and (max-width: 1400px) {
  .example, .project, .loginWrap, .registerWrap, .saveModal, .addmacModal, .stuInfoWrap{
    transform: scale(0.8);
  }

  .ModalBox {
    top: 60px;
  }

  .blocklyTreeRow {
    height: 60px;
    line-height: 60px;
  }

  .sidebarBtnGroup li {
    height: 120px;
  }

  .sidebarBtnGroup li span {
    font-size: 13px;
  }

}

/* @media screen and (max-width: 1400px) end */